{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">

        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

        <style>


            /* Handle */
            ::-webkit-scrollbar-thumb {
            background: #5261fe; 
            }

            body {
                overflow-x: hidden;
                scrollbar-width: thin;
                scrollbar-color: #5261fe #f3f4f6;
            }

        </style>

        <title>Panji Nugroho Portfolio</title>
    </head>
    <body >
        <!--===== HEADER =====-->
        <header class="l-header">
            <nav class="nav bd-grid">
                <div>
                    <a href="#" class="nav__logo">{{ home.name }}</a>
                </div>

                <div class="nav__menu" id="nav-menu">
                    <ul class="nav__list">
                        <li class="nav__item"><a href="#home" class="nav__link active">Home</a></li>
                        <li class="nav__item"><a href="#about" class="nav__link">About</a></li>
                        <li class="nav__item"><a href="#skills" class="nav__link">Skills</a></li>
                        <li class="nav__item"><a href="#portfolio" class="nav__link">Portfolio</a></li>
                        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
                    </ul>
                </div>

                <div class="nav__toggle" id="nav-toggle">
                    <i class='bx bx-menu'></i>
                </div>
            </nav>
        </header>

        <main class="l-main">
            <!--===== HOME =====-->
            <section class="home" id="home">
                <div class="home__container bd-grid">
                    <h1 class="home__title"><span>{{ home.greatings_1 }}</span><br>{{ home.greatings_2 }}</h1>

                    <div class="home__scroll">
                        <a href="#about" class="home__scroll-link"><i class='bx bx-up-arrow-alt' ></i>Scroll down</a>
                    </div>

                    <img src="{{ home.picture.url }}" alt="" class="home__img">
                </div>
            </section>

            <!--===== ABOUT =====-->
            <section class="about section" id="about">
                <h2 class="section-title">About</h2>

                <div class="about__container bd-grid">
                    <div class="about__img">
                        <img src="{{ about.profile_img.url }}" alt="">
                    </div>

                    <div>
                        <h2 class="about__subtitle">{{ about.heading }}</h2>
                        <span class="about__profession">{{ about.career }}</span>
                        <p class="about__text">{{ about.description }}</p>
                        <a href="{% static 'assets/file/cv.pdf' %}" class="btn btn-success btn-sm mx-2 my-2">Download CV</a>
                        <div class="about__social">
                            <a href="https://github.com/NIxNref" target="_blank" class="footer__social"><i class='bx bxl-github' ></i></a>
                            <a href="https://www.instagram.com/panji.n.047" target="_blank" class="footer__social"><i class='bx bxl-instagram' ></i></a>
                            <a href="https://www.linkedin.com/in/panjinugroho004/" target="_blank" class="footer__social"><i class='bx bxl-linkedin' ></i></a>
                        </div>
                    </div>
                </div>
            </section>

            <!--===== SKILLS =====-->
            <section class="skills section" id="skills">
                <h2 class="section-title">Skills</h2>

                <div class="skills__container row justify-content-center">
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg" style="width: 90px; height: 90px" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg" style="width: 90px; height: 90px" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/dart/dart-original-wordmark.svg" style="width: 90px; height: 90px" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/django/django-plain.svg" style="width: 90px; height: 90px" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-original.svg" style="width: 90px; height: 90px" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/laravel/laravel-original.svg" style="width: 90px; height: 90px" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg" style="width: 90px; height: 90px" />
                    <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original.svg" style="width: 90px; height: 90px" />
                </div>
            </section>

            <!--===== PORTFOLIO =====-->
            <section class="portfolio section" id="portfolio">
                <h2 class="section-title">Portfolio</h2>

                <div class="portfolio__container bd-grid">
                    {% for portfolio in portfolios %}
                        <div class="portfolio__img ">
                            <img src="{{ portfolio.image.url }}" alt="">
                            <div class="portfolio__link">
                                <a href="{{ portfolio.link }}" class="portfolio__link-name" target="_blank">View details</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>

            <!--===== CONTACT =====-->
            <section class="contact section" id="contact">
                <h2 class="section-title">Contact</h2>

                <div class="contact__container bd-grid">
                    <div class="contact__info" style="text-decoration: none">
                        <h3 class="contact__subtitle">EMAIL</h3>
                        <a href="mailto:pnugroho040@gmail.com" style="text-decoration: none; color: black" class="contact__text">pnugroho040@gmail.com</a>

                        <h3 class="contact__subtitle">WhatsApp</h3>
                        <a href="https://api.whatsapp.com/send/?phone=6285280743642" target="_blank" style="text-decoration: none; color: black" class="contact__text">+62 852-8074-3642</a>

                        <h3 class="contact__subtitle">Phone</h3>
                        <a href="tel:6285280743642" style="text-decoration: none; color: black" class="contact__text">+62 852-8074-3642</a>
                    </div>
                </div>
            </section>
        </main>

        <!--===== FOOTER =====-->
        <footer class="footer section">
            <div class="footer__container bd-grid">
                <div class="footer__data">
                    <h2 class="footer__title">Panji Nugroho</h2>
                    <p class="footer__text" style="color: white">I'm Panji Nugroho and this website is my personal website</p>
                </div>

                <div class="footer__data">
                    <h2 class="footer__title">EXPLORE</h2>
                    <ul>
                        <li><a href="#home" class="footer__link">Home</a></li>
                        <li><a href="#about" class="footer__link">About</a></li>
                        <li><a href="#skills" class="footer__link">Skills</a></li>
                        <li><a href="#portfolio" class="footer__link">Portfolio</a></li>
                        <li><a href="#Contact" class="footer__link">Contact</a></li>
                    </ul>
                </div>

                <div class="footer__data">
                    <h2 class="footer__title">FOLLOW</h2>
                    <a href="https://github.com/NIxNref" target="_blank" class="footer__social"><i class='bx bxl-github' ></i></a>
                    <a href="https://www.instagram.com/panji.n.047" target="_blank" class="footer__social"><i class='bx bxl-instagram' ></i></a>
                    <a href="https://www.linkedin.com/in/panjinugroho004/" target="_blank" class="footer__social"><i class='bx bxl-linkedin' ></i></a>
                </div>


            </div>
        </footer>

        <!--===== SCROLL REVEAL =====-->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--===== MAIN JS =====-->
        <script src="{% static 'assets/js/main.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </body>
</html>